## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from google.colab import files

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()
#same

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN", "NAME"], inplace=True)
#same

In [3]:
# Determine the number of unique values in each column.
print(application_df.nunique())
#same

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
print(application_df['APPLICATION_TYPE'].value_counts())
#same

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# decreasing cut-off from 500 to 100
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(application_type_counts[application_type_counts < 100].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
print(application_df['CLASSIFICATION'].value_counts())
#same

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts[classification_counts > 1])
#same

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced use the variable name `classifications_to_replace`

#decreasing cutoff from 1500 to 100
classifications_to_replace = list(classification_counts[classification_counts < 100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()
#same

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=["IS_SUCCESSFUL"])
y = application_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=79)
#same

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Optimize the Model

In [12]:
# Define the model - deep neural net

# Decreasing nodes and added 3rd layer
input_features = len(X_train.columns)
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 10
#hidden_nodes_layer3 = 5

nn_optimized = tf.keras.models.Sequential()

# First hidden layer
nn_optimized.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_features, activation="relu"))

# Second hidden layer - mode changed to LeakyReLU
nn_optimized.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="LeakyReLU"))

# Third hidden layer - mode changed to LeakyReLU
#nn_optimized.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="LeakyReLU"))

# Output layer
nn_optimized.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the optimized model
nn_optimized.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                1020

 dense_1 (Dense)             (None, 10)                210

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1,241
Trainable params: 1,241
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the optimized model
nn_optimized.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Adding early stop routing to counter progress plateauing
#early_stopping = tf.keras.callbacks.EarlyStopping(monitor="accuracy", patience=10, verbose=1)

In [15]:
# Train the optimized model with decreased epochs
nn_optimized.fit(X_train_scaled, y_train, epochs=50) #, callbacks=[early_stopping])

Epoch 1/50
804/804 [==============================] - 11s 9ms/step - loss: 0.5954 - accuracy: 0.6972
Epoch 2/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5547 - accuracy: 0.7295
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5514 - accuracy: 0.7316
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7318
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5482 - accuracy: 0.7319
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5474 - accuracy: 0.7327
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7329
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7328
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7332
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7345
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7326
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7334
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7331
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7341
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7344
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7351
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7357
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7346
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7346
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7367
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7362
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7363
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7353
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7360
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7365
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7358
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7360
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7354
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7360
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7358
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7367
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7362
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7370
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7371
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7368
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7372
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7365
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7367
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7368
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7369
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7382
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5382 - accuracy: 0.7376
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7370
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7378
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7362
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7388
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7370
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7372
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5376 - accuracy: 0.7373
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7367

In [16]:
# Evaluate the optimized model
model_loss_optimized, model_accuracy_optimized = nn_optimized.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss_optimized}, Accuracy: {model_accuracy_optimized}")

268/268 - 1s - loss: 0.5578 - accuracy: 0.7251 - 517ms/epoch - 2ms/step
Loss: 0.5578112006187439, Accuracy: 0.7251312136650085

In [17]:
# Export the optimized model to an HDF5 file
nn_optimized.save("AlphabetSoupCharity_Optimization.h5")
files.download("AlphabetSoupCharity_Optimization.h5")